<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <style>
        .layui-form{
            width: 650px;
        }
    </style>
</head>

<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>信息编辑</legend>
</fieldset>

<!--<form action="" th:action="@{/commit}" method="post">-->
<!--    <input th:value="${admin.id}" type="text" readonly="readonly" name="id"/><br/>-->
<!--    <input th:value="${admin.name}" type="text" name="name"/><br/>-->
<!--    <input th:value="${admin.password}" type="text" name="password"/><br/>-->
<!--    <input th:value="${admin.creatTime}" type="text" name=""/><br/>-->
<!--    <input th:value="${admin.remake}" type="text" name="remake"/><br/>-->
<!--    <button>提交</button>-->
<!--</form>-->

<form class="layui-form" action="" th:action="@{/layUiUpdateCommit}" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">ID</label>
        <div class="layui-input-block">
            <input type="text" name="id" lay-verify="title" readonly="readonly" autocomplete="off" placeholder="请输入标题" class="layui-input" th:value="${admin.id}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" lay-reqtext="昵称是必填项，岂能为空？" placeholder="请输入"
                   autocomplete="off" class="layui-input" th:value="${admin.name}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="text" name="password" lay-verify="required" lay-reqtext="密码是必填项，岂能为空？" placeholder="请输入"
                   autocomplete="off" class="layui-input" th:value="${admin.password}">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <input type="tel" name="remake"  autocomplete="off" class="layui-input" th:value="${admin.remake}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" name="" id="data1" readonly="readonly" autocomplete="off" class="layui-input" th:value="${#dates.format(admin.creatTime, 'yyyy-MM-dd')}">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>





<script src="/layui/layui.js"></script>
<script>
    layui.use(['table', 'layer', 'form','laydate'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form
        var laydate = layui.laydate;

        // laydate.render({
        //     elem: '#data1' //指定元素
        // });

        form.on('submit(demo1)',function (data) {
            var data1 = data.field;
            console.log(data1);
            window.parent.location.reload();

        });


    });
</script>
</body>

</html>