<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 style="color: red" th:text="${message}"></h2>
    <h2>展示Admin列表</h2>
    <a href="add">添加</a>
    <table>
        <tr>
            <td>管理员编号</td>
            <td>昵称</td>
            <td>密码</td>
            <td>创建时间</td>
            <td>备注</td>
            <td>操作</td>
        </tr>
        <tr th:each="admin : ${list}">
            <td th:text="${admin.id}">

            </td>
            <td th:text="${admin.name}">

            </td>
            <td th:text="${admin.password}">

            </td>
            <td th:text="${admin.creatTime}">

            </td>
            <td th:text="${admin.remake}">

            </td>
            <td>
                <a th:href="'del/'+${admin.id}">删除</a>
                <a th:href="'edit/'+${admin.id}">编辑</a>
                <a href="javascript:void(0)" th:onclick="'javascript:del('+${admin.id}+')'">删除2</a>
            </td>

        </tr>
    </table>
</body>
<script type="text/javascript">
    function del(id){
        if(confirm("确定删除？")){
            window.location.href = "del/"+id;
        }
    }
</script>
</html>